@import 'variables';

.calculator{
    margin-left: -4px;    
    width: 868px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    &__box{
        width: calc(50% - 90px);
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #e1e4e8;
        padding: 40px;

        .list-btn{
            margin-top: 32px;
        }

        .list-between{
            padding-bottom: 18px;
            li{
                padding: 10px 0 7px;
                font-size: .875rem;
                display: flex;
                justify-content:space-between;
                align-items: center;
                
                .list-between-last{
                    font-weight: 600;
                }
            }
        }
    }

    &__title{
        color: #282828;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 600;
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 20px;
        margin-bottom: 20px;        
        display: flex;        
        justify-content: space-between;        
        align-items: center;
    }

    &__form-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4px;
        position: relative;
        min-height: 28px;
        font-size: .875rem;
        font-weight: 600;
    }

    &__form-field{
        margin-bottom: 10px;
    }

    &__form-field:last-child{
        margin-bottom: 0px;
    }

    &__form-select{
        position: relative;
        width: 100%;
        display: flex;        
        flex-wrap: wrap;       
        align-items: stretch;
        min-height: 40px;
    }

    &__form-select-box{  
        width: 95px;
        height: 40px;
        background-color: $background-color-one;        
        border-radius: 0px 4px 4px 0px;
        position: relative;
        
        .scrollbar{
            width: 95px;
            position: absolute;
            top: 45px;
            left: 0px;
            z-index: 10;
            
        }

        span{
            width: 95px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
        }
        
        span:after{
            content: '';
            display: block;
            width: 10px;
            height: 16px;
            background: url('../img/downup.svg') no-repeat;
            margin-left: 10px;

        }
    }

    &__select-currency{
        position: relative;
        width: 100%;
        height: 150px;
        padding: 15px;
        background: #fff;
        border: 1px solid #e1e4e8;
        border-radius: 4px;  
        box-sizing: border-box; 
        overflow: hidden;     

        div{
            font-size: 14px;
            color: #282828;
            padding-bottom: 15px;
            cursor: pointer;
        }

        div:last-child{
            padding-bottom: 0px;
        }
    }

    &__form-input-box{
        width: calc(100% - 95px);
        height: 40px;
    }
    
    &__form-input:focus {
        border:1px solid #2d7efa;
    }

    &__form-text{
        font-size: 12px;
        color: #afafaf;
        margin-top: 8px;

    }
    
    &__form-input{
        width: 100%;
        height: 40px;
        border-radius: 4px 0 0 4px !important;
        background-color: #ffffff;
        border: 1px solid #d4dadf;        
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #1d1c1c;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        box-sizing: border-box;
    } 
    
}